<div id="user-subscribe-container">
  <p>
    <%= f.check_box :subscribed %>
    <%= f.label :subscribed, "Sign me up for email updates on special promotions, latest products, featured news and more!" %>
  </p>
</div>
